body{
    text-align: center;
}
.box{
    text-align: center;
    padding: 0.5em 0;
    display: none;
}

.selectBox{
    display: block;
}

#selectBox2{
    margin-top: 2em;

}

select{
    width: 400px;
    height: 18pt;
    font-size: 16pt;
}

button{
    width: 400px;
    height: 18pt;
    font-size: 16pt;
    border: solid 1px;
}

#btCommitBox{
    display: none;

}

button:hover{
    background-color: rgba(128, 128, 128, 0.51);
    cursor: pointer;
}

input{
    height: 20pt;
    font-size: 16pt;
    width: 190px;
    margin: 0 5px;
}

table{
    margin: auto;
}

thead{
    background-color: grey;
    color: whitesmoke;
}

td{
    width: auto;
    height: 20pt;
    font-size: 16pt;
}

tr:nth-child(odd){
    background-color: lightgrey;

}